body {
  background-color: rgb(42 46 51);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
  /* font-family: Brutal, sans-serif; */
}
.header {
  display: flex;
  align-items: center;
  margin-left: -110px;
  justify-content: space-evenly;
  background-color: rgb(42 46 51);
  border-bottom: 1px solid rgb(28 28 28 / 60%);
}
.logo {
  display: inline-flex;
  color: yellowgreen;
  /* margin-left: px; */
}
.logo img {
  width: 60px;
  height: 65px;
}
h3 {
  cursor: pointer;
  margin-top: 32px;
  margin-left: 5px;
}
h2 {
  color: whitesmoke;
}
.nav-iteams li {
  display: inline-flex;
  color: rgb(255 255 255 / 50%);
  margin: 10px;
  font-size: larger;
  cursor: pointer;
}
